In [2]:
import pandas as pd
df = pd.read_csv("A_B_testing_dataset.csv")

In [3]:
df.head()

,date_of_campaign,facebook_ad_campaign,facebook_ad_views,facebook_ad_clicks,facebook_ad_conversions,facebook_cost_per_ad,facebook_ctr,facebook_conversion_rate,facebook_cost_per_click,adword_ad_campaign,adword_ad_views,adword_ad_clicks,adword_ad_conversions,adword_cost_per_ad,adword_ctr,adword_conversion_rate,adword_cost_per_click
0,2021-12-22,FACEBOOK AD,3172,62,14,141,1.95,22.58,2.27,ADWORD AD,5754,64,9,177,1.11,14.06,2.77
1,2021-12-24,FACEBOOK AD,3211,38,9,186,1.18,23.68,4.89,ADWORD AD,4954,73,6,54,1.47,8.22,0.74
2,2021-12-25,FACEBOOK AD,1936,53,15,66,2.74,28.30,1.25,ADWORD AD,4702,38,9,187,0.81,23.68,4.92
3,2021-12-25,FACEBOOK AD,1194,45,9,71,3.77,20.00,1.58,ADWORD AD,3718,58,3,161,1.56,5.17,2.78
4,2021-12-26,FACEBOOK AD,2479,44,12,174,1.77,27.27,3.95,ADWORD AD,5562,63,4,162,1.13,6.35,2.57

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   date_of_campaign          1000 non-null   object
 1   facebook_ad_campaign      1000 non-null   object
 2   facebook_ad_views         1000 non-null   int64
 3   facebook_ad_clicks        1000 non-null   int64
 4   facebook_ad_conversions   1000 non-null   int64
 5   facebook_cost_per_ad      1000 non-null   int64
 6   facebook_ctr              1000 non-null   float64
 7   facebook_conversion_rate  1000 non-null   float64
 8   facebook_cost_per_click   1000 non-null   float64
 9   adword_ad_campaign        1000 non-null   object
 10  adword_ad_views           1000 non-null   int64
 11  adword_ad_clicks          1000 non-null   int64
 12  adword_ad_conversions     1000 non-null   int64
 13  adword_cost_per_ad        1000 non-null   int64
 14  adword_ctr                1000 non-null   float64
 15  adword_conversion_rate    1000 non-null   float64
 16  adword_cost_per_click     1000 non-null   float64
dtypes: float64(6), int64(8), object(3)
memory usage: 132.9+ KB

In [5]:
df.columns

Index(['date_of_campaign', 'facebook_ad_campaign', 'facebook_ad_views',
       'facebook_ad_clicks', 'facebook_ad_conversions', 'facebook_cost_per_ad',
       'facebook_ctr', 'facebook_conversion_rate', 'facebook_cost_per_click',
       'adword_ad_campaign', 'adword_ad_views', 'adword_ad_clicks',
       'adword_ad_conversions', 'adword_cost_per_ad', 'adword_ctr',
       'adword_conversion_rate', 'adword_cost_per_click'],
      dtype='object')

In [6]:
facebook = df[['date_of_campaign', 'facebook_ad_campaign', 'facebook_ad_views',
       'facebook_ad_clicks', 'facebook_ad_conversions', 'facebook_cost_per_ad',
       'facebook_ctr', 'facebook_conversion_rate', 'facebook_cost_per_click']]

facebook.head()

,date_of_campaign,facebook_ad_campaign,facebook_ad_views,facebook_ad_clicks,facebook_ad_conversions,facebook_cost_per_ad,facebook_ctr,facebook_conversion_rate,facebook_cost_per_click
0,2021-12-22,FACEBOOK AD,3172,62,14,141,1.95,22.58,2.27
1,2021-12-24,FACEBOOK AD,3211,38,9,186,1.18,23.68,4.89
2,2021-12-25,FACEBOOK AD,1936,53,15,66,2.74,28.30,1.25
3,2021-12-25,FACEBOOK AD,1194,45,9,71,3.77,20.00,1.58
4,2021-12-26,FACEBOOK AD,2479,44,12,174,1.77,27.27,3.95

In [7]:
facebook.rename(
    columns={
        'facebook_ad_campaign': 'Ad Campaign',
        'facebook_ad_views': 'Ad Views',
        'facebook_ad_clicks': 'Ad Clicks',
        'facebook_ad_conversions': 'Ad Conversions',
        'facebook_cost_per_ad': 'Cost Per Ad',
        'facebook_ctr': 'Ctr',
        'facebook_conversion_rate': 'Conversion Rate',
        'facebook_cost_per_click': 'Cost per Click'
    },
    inplace=True
)

C:\Users\Princess Tusche Esty\AppData\Local\Temp\ipykernel_2356\2288353093.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  facebook.rename(

In [8]:
adword = df[['date_of_campaign','adword_ad_campaign', 'adword_ad_views', 'adword_ad_clicks',
       'adword_ad_conversions', 'adword_cost_per_ad', 'adword_ctr',
       'adword_conversion_rate', 'adword_cost_per_click']]

adword.head()

,date_of_campaign,adword_ad_campaign,adword_ad_views,adword_ad_clicks,adword_ad_conversions,adword_cost_per_ad,adword_ctr,adword_conversion_rate,adword_cost_per_click
0,2021-12-22,ADWORD AD,5754,64,9,177,1.11,14.06,2.77
1,2021-12-24,ADWORD AD,4954,73,6,54,1.47,8.22,0.74
2,2021-12-25,ADWORD AD,4702,38,9,187,0.81,23.68,4.92
3,2021-12-25,ADWORD AD,3718,58,3,161,1.56,5.17,2.78
4,2021-12-26,ADWORD AD,5562,63,4,162,1.13,6.35,2.57

In [9]:
adword.rename(
    columns={
        'adword_ad_campaign': 'Ad Campaign',
        'adword_ad_views': 'Ad Views',
        'adword_ad_clicks': 'Ad Clicks',
        'adword_ad_conversions': 'Ad Conversions',
        'adword_cost_per_ad': 'Cost Per Ad',
        'adword_ctr': 'Ctr',
        'adword_conversion_rate': 'Conversion Rate',
        'adword_cost_per_click': 'Cost per Click'
    },
    inplace=True
)

C:\Users\Princess Tusche Esty\AppData\Local\Temp\ipykernel_2356\2368330010.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adword.rename(

In [10]:
merged_dataset = pd.concat([facebook,adword], axis=0)

merged_dataset.shape

(2000, 9)

In [11]:
merged_dataset.to_csv("merged_ab_test_data.csv", index = False)

In [12]:
merged_dataset.head()

,date_of_campaign,Ad Campaign,Ad Views,Ad Clicks,Ad Conversions,Cost Per Ad,Ctr,Conversion Rate,Cost per Click
0,2021-12-22,FACEBOOK AD,3172,62,14,141,1.95,22.58,2.27
1,2021-12-24,FACEBOOK AD,3211,38,9,186,1.18,23.68,4.89
2,2021-12-25,FACEBOOK AD,1936,53,15,66,2.74,28.30,1.25
3,2021-12-25,FACEBOOK AD,1194,45,9,71,3.77,20.00,1.58
4,2021-12-26,FACEBOOK AD,2479,44,12,174,1.77,27.27,3.95

In [13]:
merged_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date_of_campaign  2000 non-null   object
 1   Ad Campaign       2000 non-null   object
 2   Ad Views          2000 non-null   int64
 3   Ad Clicks         2000 non-null   int64
 4   Ad Conversions    2000 non-null   int64
 5   Cost Per Ad       2000 non-null   int64
 6   Ctr               2000 non-null   float64
 7   Conversion Rate   2000 non-null   float64
 8   Cost per Click    2000 non-null   float64
dtypes: float64(3), int64(4), object(2)
memory usage: 156.2+ KB

In [17]:
agg = merged_dataset.groupby('Ad Campaign').agg({'Ad Clicks':'sum', 'Ad Views':'sum'})

clicks = agg['Ad Clicks'].values
views = agg['Ad Views'].values

print("Clicks:", clicks)
print("Views:", views)

Clicks: [60128 44196]
Views: [4771438 2152031]

In [18]:
z_stat, p_value = proportions_ztest(count=clicks, nobs=views)

print("CTR Z-statistic:", z_stat)
print("CTR P-value:", p_value)

CTR Z-statistic: -79.325545019369
CTR P-value: 0.0

In [19]:
agg

             Ad Clicks  Ad Views
Ad Campaign
ADWORD AD        60128   4771438
FACEBOOK AD      44196   2152031